farmacia-inventario/workflow.json
{
  "name": "Telegram Farmacia Inventario",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "792034bb-9481-46eb-bf27-8dc8643fd724",
              "leftValue": "={{ $json.Fecha_Caducidad }}",
              "rightValue": "={{ $json.hoy }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        0
      ],
      "id": "43117a6f-7846-458b-929e-eb8420905441",
      "name": "If: Verifica vencidos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4b78a365-6608-4351-9204-e6ef436e1cb6",
              "leftValue": "={{ $json.Fecha_Caducidad }}",
              "rightValue": "={{ $json.limite_30 }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        16
      ],
      "id": "54fba786-35a5-4b3e-b38d-08ca1de21026",
      "name": "If: Verifica por vencer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "510a79e2-8455-4d39-b9e0-4299b6e1cdb4",
              "leftValue": "={{ Number($json.Stock_Actual) }}",
              "rightValue": "={{ Number($json.Stock_Minimo) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        -272
      ],
      "id": "1741bd9d-da38-46a1-8a58-7ab41cd8b065",
      "name": "If: Verifica Stock"
    },
    {
      "parameters": {
        "chatId": "{{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -96
      ],
      "id": "9e148c98-7605-414f-bd9e-3f5d625685c9",
      "name": "Mensaje: Vencidos y por Vencer",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "{{$credentials.telegram}}",
    	  "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "parameters": {
        "chatId": "{{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        -288
      ],
      "id": "064ae0c5-af71-4d6c-91c5-610f0842a4d8",
      "name": "Mensaje: Stock",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "{{$credentials.telegram}}",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "{{$env.GOOGLE_SHEET_ID}}",
          "mode": "list",
          "cachedResultName": "Demo_Farmacia",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -752,
        0
      ],
      "id": "cf5ecc96-24f1-4350-be13-d26e4068806d",
      "name": "Obtiene datos de Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -944,
        0
      ],
      "id": "0480a529-2f7d-4ee2-a129-9ca141ac7863",
      "name": "Ejecución Programada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45bc551b-cfc8-403f-8c41-78836e886e7a",
              "name": "hoy",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "a278a7a1-31a8-47d5-8ff5-8ea1b5404b3d",
              "name": "limite_30",
              "value": "={{ $now.plus({ days: 30 }).toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "58f37450-c714-4991-8815-fe9eb3ac4d6c",
              "name": "fecha_humana",
              "value": "={{ $now.setLocale('es').toFormat('dd LLLL yyyy') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        0
      ],
      "id": "36f55eb8-9f78-4855-b8ad-ad0fe2b9ead6",
      "name": "Edición de Campos"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      titulo: 'SIN DATOS',\n      count: 0,\n      lista: ''\n    }\n  }];\n}\n\nconst rows = $input.all().map(i => i.json);\n\nconst lista = rows\n  .map(r => `- ${r.Producto} (Lote: ${r.Lote}, Cad: ${r.Fecha_Caducidad}, Stock: ${r.Stock_Actual})`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    titulo: '🚨 VENCIDOS',\n    count: rows.length,\n    lista,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -128
      ],
      "id": "b18ec0d8-a735-41fb-9a20-389585e2504e",
      "name": "JS: Lista de Vencidos"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      titulo: 'SIN DATOS',\n      count: 0,\n      lista: ''\n    }\n  }];\n}\n\nconst rows = $input.all().map(i => i.json);\n\nconst lista = rows\n  .map(r => `- ${r.Producto} (Lote: ${r.Lote}, Cad: ${r.Fecha_Caducidad}, Stock: ${r.Stock_Actual})`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    titulo: '⚠️ POR VENCER (≤ 30 días)',\n    count: rows.length,\n    lista,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "id": "f8097439-ebdb-470c-93ab-1a694679d1cd",
      "name": "JS: Lista por Vencer"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      titulo: 'SIN DATOS',\n      count: 0,\n      lista: ''\n    }\n  }];\n}\n\nconst rows = $input.all().map(i => i.json);\n\nconst lista = rows\n  .map(r => `- ${r.Producto}: ${r.Stock_Actual} (mín: ${r.Stock_Minimo})`)\n  .join('\\n');\n\nconst fecha = $items('Edición de Campos')[0].json.fecha_humana;\n\nreturn [{\n  json: {\n    text: `📉 *ALERTA STOCK BAJO - FARMACIA LOJA*\\nFecha: ${fecha}\\n\\nProductos para reabastecer:\\n${lista}\\n\\n✅ Acción: generar pedido a proveedor.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -288
      ],
      "id": "150a0bd5-9665-4c82-8fd9-ff6472ad35a7",
      "name": "JS: Lista de Stock"
    },
    {
      "parameters": {
        "jsCode": "const blocks = $input.all().map(i => i.json);\n\nconst fecha = $items('Edición de Campos')[0].json.fecha_humana;\n\nconst cuerpo = blocks.map(b => {\n  if (!b.count) return `${b.titulo}: 0`;\n  return `${b.titulo}: ${b.count}\\n${b.lista}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    text: `🧾 *ALERTA VENCIMIENTOS - FARMACIA LOJA*\\nFecha: ${fecha}\\n\\n${cuerpo}\\n\\n Acción: retirar vencidos.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -96
      ],
      "id": "e49b80e7-6aa9-49c2-b97f-ff2da04cdba4",
      "name": "JS: Texto Mensaje"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        -96
      ],
      "id": "90ccb79f-44ac-4a54-852f-ef9341c4b9b6",
      "name": "Unión de datos"
    }
  ],
  "pinData": {},
  "connections": {
    "If: Verifica vencidos": {
      "main": [
        [
          {
            "node": "JS: Lista de Vencidos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If: Verifica por vencer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Verifica por vencer": {
      "main": [
        [
          {
            "node": "JS: Lista por Vencer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Verifica Stock": {
      "main": [
        [
          {
            "node": "JS: Lista de Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje: Vencidos y por Vencer": {
      "main": [
        []
      ]
    },
    "Obtiene datos de Sheets": {
      "main": [
        [
          {
            "node": "Edición de Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecución Programada": {
      "main": [
        [
          {
            "node": "Obtiene datos de Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edición de Campos": {
      "main": [
        [
          {
            "node": "If: Verifica vencidos",
            "type": "main",
            "index": 0
          },
          {
            "node": "If: Verifica Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Lista de Vencidos": {
      "main": [
        [
          {
            "node": "Unión de datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Lista por Vencer": {
      "main": [
        [
          {
            "node": "Unión de datos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "JS: Lista de Stock": {
      "main": [
        [
          {
            "node": "Mensaje: Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Texto Mensaje": {
      "main": [
        [
          {
            "node": "Mensaje: Vencidos y por Vencer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unión de datos": {
      "main": [
        [
          {
            "node": "JS: Texto Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Guayaquil",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": ""
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "WORKFLOW_ID_PLACEHOLDER",
  "tags": []
}