actualizaciones-n8n/workflow.json
{
  "name": "actualizaciones n8n",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -16
      ],
      "id": "NODE_ID_PLACEHOLDER_1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n/releases/latest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "APP_USER_AGENT_PLACEHOLDER"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        -16
      ],
      "id": "NODE_ID_PLACEHOLDER_2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "COND_ID_PLACEHOLDER",
              "leftValue": "={{ $json.tag_name }}",
              "rightValue": "=n8n@{{ $('Execute Command').item.json.stdout }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -16
      ],
      "id": "NODE_ID_PLACEHOLDER_3",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "{{$env.NOTIFY_EMAIL}}",
        "subject": "Nueva versión n8n!",
        "message": "=La versión de n8n estable se ha actualizado a  {{ $json.tag_name }}. Tenlo en cuenta para tus siguientes proyectos. ",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        0
      ],
      "id": "NODE_ID_PLACEHOLDER_4",
      "name": "Send a message",
      "webhookId": "",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "command": "n8n --version"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -288,
        -16
      ],
      "id": "NODE_ID_PLACEHOLDER_5",
      "name": "Execute Command"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Guayaquil",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": ""
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "WORKFLOW_ID_PLACEHOLDER",
  "tags": []
}
